html body {
  margin: 10px 20px 10px 20px;
  padding: 0;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-around;
  align-items: center;
}

.img-icon {
  color: red;
  font-size: 20px;
}

a[href="#home"] {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding:.7em;
  border: black;
  background-color:black;
  border-radius: 100px;
}

a[href="#following"] {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #566573;
 
}
a[href="#S"] {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding:.2em;
  border: #ECF0F1;
  background-color:#ECF0F1;
  border-radius: 50%;
  margin-right: 30px;
}


div.search{
	width: 800px;
  	border-radius: 100px;
 	height: 100%;
 	background-color: #ECF0F1;
 	position: relative;
 	display: block;
}

.input-search {
  position: relative;
  left:30px;
  max-width: 100%;
  width: 850px;
  border-radius: 100px;
  border: none;
  height: 50px;
  object-fit: cover;
  background-color: #ECF0F1;
  outline: 0;

  
}

.search i {
	position: absolute;
	top: 20px;
  	/*left: px;*/
  	z-index: 2;
	margin-left: 10px;
	color: #95A5A6;
	object-fit: cover;
}

/*article {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  margin-top: 30px;

}*/

img {
  border-radius: 20px;
} 

.img-article{
	display: grid;
  	grid-auto-flow: dense;
  	grid-gap: 2em;
   	grid-template-columns: repeat(5, 250px);
  	grid-template-rows: 1fr;
  	margin: 0 auto;
  	max-width: 1200px;
}
.fas fa-bell{
	color: #ECF0F1;
}

.fas fa-comment-dots{
	color: #ECF0F1;
}

	


